.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -30px;

    .card {
        width: calc((100% / 3) - 30px);
        margin-right: 30px;
        margin-bottom: 40px;
        // border: 1px solid $color-grey-100;
        background-color: $brand-light-bg;
    }
}


@include below-tablet {
.card-wrap {
    .card {
        width: 100%;
        margin: 0 0 20px 20px;
    }
}
}