$color-blue: #2D4263;
$color-pink: #DC2A74;
$color-white: #FFF;
$color-black: #0E0C09;
$color-orange: #EE6C4D;
$color-grey-100: #F2F2F2;
$color-grey-200: #9D9EA2;
$color-grey-300: #5C5C5C;
$color-blue-100: #7bdff2;
$color-green: #a7c957;

$brand-primary-text: $color-green;
$brand-secondary-text: $color-grey-100;
$brand-tertiary-text: $color-grey-200;
$brand-light-text: $color-white;
$brand-dark-text: $color-black;

$brand-primary-bg: $color-green;
$brand-secondary-bg: $color-grey-100;
$brand-tertiary-bg: $color-grey-200;
$brand-light-bg: $color-white;
$brand-dark-bg: $color-black;