.filter-wrap {
  transition: all 0.3s ease;
  background-color: $color-white;
  .filter {
    @extend .container;
    padding-top: 20px;
    padding-bottom: 20px;
    form {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      input[type="date"] {
        border: 1px solid $color-grey-100;
        padding: 10px 15px;
        margin-left: 10px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    .dropdown-wrap {
      display: inline-block;
      margin-right: 40px;
      margin-left: 10px;

      .dropdown {
        width: 400px;
      }

      .dropdown-menu {
        width: 400px;
        white-space: nowrap;
        max-height: 200px;
        overflow: scroll;
      }
    }
  }
}
