.genres {
  display: flex;
  flex-direction: column;

  .genre {
    @extend .container;
    width: 100%;
    .genre-heading {
      background-color: $color-grey-100;
      padding: 10px 0;
      z-index: 100;
      transition: all 0.3s ease;
    }

    h2 {
      @extend .text-lg;
      @extend .container;
    }

    .card-wrap {
      margin-top: 40px;
      margin-bottom: 80px;
      // @extend .container;

      img {
        width: 100%;
      }

      .title {
        @extend .text-md;
        font-weight: bold;
        margin-top: 20px;
      }

      .card {
        &:hover {
          cursor: pointer;
          transform: scale(0.9);
          transition: transform 0.3s ease;
        }
      }
    }

    .modal {
      &-body {
        picture {
          display: inline-block;
          margin-bottom: 20px;
          width: 80%;
          height: auto;
          border-radius: 4px;
          overflow: hidden;
        }
        img {
          width: 100%;
        }
      }

      .left {
        width: 58%;
      }
      .right {
        width: 40%;
      }

      .book-details {
        max-height: 500px;
        height: 100%;
        padding: 20px;
        background-color: $brand-light-bg;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .left {
          width: 40%;
        }
        .right {
          width: 55%;
          padding-top: 40px;
          overflow: scroll;
        }
        h2 {
          @extend .text-md;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .descp {
          @extend .text-sm;
          margin-bottom: 15px;
          span {
            display: block;
            font-weight: normal;
            margin-bottom: 8px;
            color: $brand-tertiary-text;
          }
        }

        .author {
          @extend .text-sm;
          margin-bottom: 15px;
          span {
            display: block;
            font-weight: normal;
            margin-bottom: 8px;
            color: $brand-tertiary-text;
          }
        }
        .publisher {
          @extend .text-sm;
          margin-bottom: 15px;
          span {
            display: block;
            font-weight: normal;
            margin-bottom: 8px;
            color: $brand-tertiary-text;
          }
        }

        .date {
          @extend .text-xs;
          color: $color-grey-200;

          span {
            margin-right: 10px;
          }
        }
        .buy-links {
          @extend .text-sm;
          margin-bottom: 20px;
          span {
            display: block;
            font-weight: normal;
            margin-bottom: 8px;
            color: $brand-tertiary-text;
          }
          a {
            @extend .text-sm;
            font-weight: bold;
            color: $brand-primary-text;
            margin: 0 10px 0 0;
            text-decoration: underline;
          }
        }
      }

      .reviews {
        padding: 30px;
        background-color: $brand-light-bg;
        max-height: 200px;
        overflow: scroll;
        height: 100%;

        li {
          margin-bottom: 20px;
        }
        h3 {
          @extend .text-md;
          margin-bottom: 20px;
        }
        h4 {
          @extend .text-sm;
          margin-bottom: 8px;
          color: $brand-tertiary-text;
        }
        p {
          margin-bottom: 8px;
          @extend .text-sm;
        }
        .link {
          @extend .text-xs;
          text-decoration: underline;
        }
      }

      .similar-cards-wrap {
        overflow: scroll;
        padding: 20px;
        height: 100%;
        background-color: $brand-light-bg;
        max-height: 720px;
        overflow: scroll;

        h3 {
          @extend .text-md;
        }
        img {
          width: 100%;
          height: auto;
        }
        .card {
          width: 45%;
          &:hover {
            pointer-events: none;
          }
        }
      }
    }

    .no-books {
      text-align: center;
      @extend .text-lg;
      padding: 80px 0;
      color: $brand-tertiary-text;
    }
  }
}

.is-fixed ~ .genres {
  margin-top: 138px;
}
