.hero {
  min-height: 600px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;

  picture {
    width: 100%;
    img {
        width: 100%;
    }
  }

  .filter-wrap {
    @extend .container;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
        @extend .title-2xl;
        margin-bottom: 60px;
        color: $color-white;
    }

    .filter {
      display: flex;
      min-height: 250px;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        margin-left: 80px;

        label {
          width: 100%;
        }

        input[type="text"],
        input[type="date"] {
          width: 100%;
          padding: 15px 20px;
          @extend .text-sm;
          border-radius: 8px;
          border: 0;
          margin-bottom: 15px;

          &:focus {
            outline: none;
          }
        }
        .submit-btns {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .dropdown-wrap {
          margin-bottom: 15px;
        }
      }
    }
  }
}
